@import url('https://fonts.googleapis.com/css?family=Abel|DM+Serif+Display&display=swap');

:root {
  --main-bg-color: #507A87;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  background-color: var(--main-bg-color);
  color: white;
}

.header {
  background-color: #F8F8F8;
  padding-top: 10px;
  margin-bottom: 20px;
}

.table {
  font-size: 12px;
}

.table td,
.table th {
  padding: 0px;
}

.video-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}

.video-list button {
  border: none;
  background-color: #F5F5F5;
}

.video-list>.table {
  cursor: pointer;
}

.video-list-close {
  width: 60px;
}

.captionTable {
  cursor: pointer;
}

.player {
  background-color: black;
}

.navbar {
  background-color: var(--main-bg-color);
}

.card {
  background-color: var(--main-bg-color);
}

.form-control {
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
}

#logotext {
  font-family: 'DM Serif Display', serif;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

h4 {
  font-family: 'DM Serif Display', serif;
}